body{
    background-color: #4a69bd;
}

.list{
    display: grid;
    place-items: center;
}

.milieu-vertical{
    margin-top: 10%;
}
.module-titre{
    width: 300px;
    height: 35px;
    background: #b8e994;
    text-align: center;
    font-size: xx-large;
}
.module-recherche{
    margin-top: 15px;
    width: 450px;
    height: 35px;
    background: #b8e994;
    padding-left: 5px;
}

.button-recherche{
    float: right;
    height: 35px;
    border: none;
    background-color: #ffdd59;
}
.button-recherche:hover{
    background-color: #f7e7aa;
}

.float-right{
    height: 33px;
    float: right;
    border: none;
}
.size-large{
    font-size: x-large;  
}

input:focus {
        outline:  none;
        background-color:#dfe6e9 ;
        
}
input:hover{
    background-color:#dfe6e9 ;
}
li{
    list-style: none;
}
.element{
    background-color: #9980FA;
    width: 550px;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 5px;
}
.taille{
    height: 35px;
    width: 35px;  
}
.taille:hover{
    
    transform: rotate(45deg);
}

.button-recherche2{
    float: right;
    height: 35px;
    border: none;
    background-color: #9980FA;
}
.button-recherche2:focus  {
    outline:  none;
}
.button-recherche2:focus .taille  {
    transition:  transform 3s;
    transform: rotate(90deg);
    transform: translateX(-1450%);
}

